.header-movie-detail {
  position: relative;
  margin-top: -75px;
}
.header-movie-detail img {
  width: 100%;
  aspect-ratio: 16/5;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.header-movie-detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px -139px 86px -17px rgba(9, 7, 23, 0.1) inset;
  -webkit-box-shadow: 0px -139px 86px -17px rgba(9, 7, 23, 0.1) inset;
  -moz-box-shadow: 0px -139px 86px -17px rgba(9, 7, 23, 0.1) inset;
  background-image: linear-gradient(to bottom, rgba(9, 7, 23, 0) 0%, rgba(9, 7, 23, 0.95) 100%);
}
.header-movie-detail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px -139px 86px -17px rgba(9, 7, 23, 0.75) inset;
  -webkit-box-shadow: 0px -139px 86px -17px rgba(9, 7, 23, 0.75) inset;
  -moz-box-shadow: 0px -139px 86px -17px rgba(9, 7, 23, 0.75) inset;
  background-image: linear-gradient(to bottom, rgba(9, 7, 23, 0) 0%, rgba(9, 7, 23, 0.95) 100%);
}

@media (max-width: 576px) {
  .header-movie-detail::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header-movie-detail img {
    position: static;
    width: 100%;
    margin-top: 75px;
    aspect-ratio: 16/6;
  }

  .header {
    margin-top: -50px !important;
  }
}


.header {
  position: relative;
  margin-top: -100px;
  z-index: 2;
}


.header .thumbnail {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.header .thumbnail img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 12/16;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  transition: var(--tran-03);
  z-index: 10;
}
.header .thumbnail:hover img {
  transform: perspective(500px) rotateY(10deg) rotateX(10deg);
  transition: var(--tran-03);
}


.cast-content {
  overflow-x: scroll;
  overflow-y: hidden;
}
.cast {
  width: max-content;
  display: flex;
  gap: 15px;
}
.cast .card {
  width: 150px;
}
.cast .card .avatar {
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: var(--tran-03);
}
.cast .card .avatar img {
  width: 100%;
  aspect-ratio: 1/1.5;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.cast .card .avatar:hover img {
  transform: scale(1.1);
  transition: var(--tran-03);
}

@media (max-width: 576px) {
  .cast {
    gap: 10px;
  }

  .cast .card {
    width: 100px;
  }

  .cast .card .avatar {
    width: 100px;
  }
}